body {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    display: none;
}

.container-fluid {
    display: grid;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}
.container {
    height: 60%;
    width: 60%;
    border-radius: 15px;
    margin: auto;
    padding: 0;
    background-color: #EBEDEF;
    box-shadow: 0 2.5px 10px 0px #aaaaaa;
}

.container header {
    position: relative;
    height: 10%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2.5px 10px 1px #aaaaaa;
    background-color: #0f74ff;
}

.container header #class-rest {
    position: absolute;
    top: 0;
    right: 0;
    width: 79.95%;
    height: 100%;
    border-radius: 0 15px 0 0;
    font-size: 1.8vw;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    color: white;

}

.no-pm {
    margin: 0;
    padding: 0;
}

header #class-name {
    width: 20.05%;
    height: 100%;
    border-radius: 15px 0 0 0;
    background-color: #0e59bc;
    font-size: 1.8vw;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: 'Thasadith', sans-serif;
}

nav {
    margin: 0;
    float: left;
    position: relative;
    width: 20%;
    background-color: #EBEDEF;
    height: 90%;
    border-radius: 0 0 0 15px;
    box-shadow: 2.5px 0 10px 0px #aaaaaa;
}

.class {
    height: 10%;
    font-size: 0.83vw;
    background-color: #e2e3e5;
    width: 100%;
    text-align: center;
    padding: 5.5% 0;
    transition: background-color 0.3s;
}


.class:hover {
    cursor: pointer;
    background-color: #d5d6d8;
}

#class-sell {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 15px;
    background-color: #F5B7B1;
}

#class-sell:hover {
    background-color: #F1948A;
}

article {
    float: right;
    width: 80%;
    height: 90%;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 15px 0;
}

.container-fluid {
    display: inline-block;
}

.car {
    position: relative;
    margin-top: 4vw;
    background-color: #EBEDEF;
    border-radius: 15px;
    height: 15.5vw;
    box-shadow: 2.5px 0 10px 0px #aaaaaa;
}

.car-img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 60%;
}

.car-container {
    float: right;
    height: 60%;
    width: 40%;
}

.car-container p {
    text-align: center;
    font-size: 2.3vw;
}

.car-container .price {
    text-align: left;
    padding-left: 9%;
    font-size: 1.9vw;
}

.car-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 15px 0;
    text-align: center;
    width: 40%;
    font-size: 2vw;
}

.used-car {
    position: relative;
    margin-top: 4vw;
    background-color: #EBEDEF;
    border-radius: 15px;
    height: 25.0vw;
    box-shadow: 2.5px 0 10px 0px #aaaaaa;
}

.used-car-container {
    position: relative;
    height: 60%;
}

.used-car-desc {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    padding: 0.5vw 3vw;
    text-indent: 3vw;
    text-align: justify;
    font-size: 1.9vw;
}

::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c6c6c8;
    border-radius: 50px;
}

#car-list:last-child {
    margin-bottom: 4vw;
}